@page "/Categories"

@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<BlazingContext> factory
@rendermode InteractiveServer

<PageTitle>Categories</PageTitle>

<h1>Categories</h1>

<table class="table">
    <thead>
    <tr>
        <th>Category</th>
        <th>SubCategories</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var category in categories)
    {
        <tr>
            <td>@category.Value</td>
            <td>@string.Join(",", category.SubCategories.Select(_ => _.Value))</td>
            <td><button class="btn btn-outline-secondary">Add</button></td>
        </tr>
    }
    </tbody>
</table>

@code {
    private List<Category> categories = [];

    protected override async Task OnInitializedAsync()
    {
        await using var context = await factory.CreateDbContextAsync();
        categories = await context.Categories.GetAll().ToListAsync();
    }
}