@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>
<p>Use the click me button to increase the count. Try it now!</p>

<p role="status">Current count: @currentCount</p>

<input type="number" @bind="increment" />

<button class="btn btn-primary" @onclick="IncrementCount">Increment</button>
<button class="btn btn-primary" @onclick="derementcount">Decrement</button>

@code {
    private int currentCount = 0;
    
    private int increment = 5;

    private void derementcount()
    {
        currentCount -= increment;
    }
    
    private void IncrementCount()
    {
        currentCount = currentCount + increment;
    }
}
